<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TAE2Entities" connectionString="metadata=res://*/POCOS.EntityElara.csdl|res://*/POCOS.EntityElara.ssdl|res://*/POCOS.EntityElara.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TAE2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="RutaArchivos" value="\\10.50.0.131\Sources"/>
    <add key="RutaServicioDescarga" value="http://10.50.0.131:8080/Services/Broadcast.svc"/>
    <add key="RutaServicioSubida" value="http://10.50.0.131:8080/Services/Receiver.svc"/>
    <add key="SyncTime" value="600"/>
  </appSettings>
</configuration>