<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TAE2Entities" connectionString="metadata=res://*/POCOS.EntityElara.csdl|res://*/POCOS.EntityElara.ssdl|res://*/POCOS.EntityElara.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TAE2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="RutaArchivos" value="\\10.50.0.131\Sources"/>
  </appSettings>
</configuration>