<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="TAE2Entities" connectionString="metadata=res://*/POCOS.EntityElara.csdl|res://*/POCOS.EntityElara.ssdl|res://*/POCOS.EntityElara.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TAE2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TAE2Entities1" connectionString="metadata=res://*/POCOS.EntityElara.csdl|res://*/POCOS.EntityElara.ssdl|res://*/POCOS.EntityElara.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=TAE2;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TAE2Entities" connectionString="metadata=res://*/POCOS.EntityElara.csdl|res://*/POCOS.EntityElara.ssdl|res://*/POCOS.EntityElara.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=TAE2;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>