<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TAE2Entities" connectionString="metadata=res://*/POCOS.EntityElara.csdl|res://*/POCOS.EntityElara.ssdl|res://*/POCOS.EntityElara.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TAE2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="RutaArchivos" value="\\10.50.0.131\Sources"/>
    <!--servidor imc-->
    <!--<add key="RutaServicioDescarga" value="http://192.168.0.104:2020/Services/Broadcast.svc"/>
    <add key="RutaServicioSubida" value="http://192.168.0.104:2020/Services/Receiver.svc"/>-->
    <!--prueba local-->
    <!--<add key="RutaServicioDescarga" value="http://localhost:8082/Services/Broadcast.svc"/>
    <add key="RutaServicioSubida" value="http://localhost:8082/Services/Receiver.svc"/>-->
    <!--servidor elara-->
    <add key="RutaServicioDescarga" value="http://10.50.0.131:8080/Services/Broadcast.svc"/>
    <add key="RutaServicioSubida" value="http://10.50.0.131:8080/Services/Receiver.svc"/>

    <add key="SyncTime" value="180"/>

    <add key="CarpetaInstalacion" value=""/>
    <add key="NombreProcesoActualizacion" value="NMTUpdater.exe"/>

    <add key="AppFolder" value="C:\Programs\ElaraInventario\"/>
    <add key="ProcessName" value="InventoryApp.App.View.vshost.exe"/>
    <add key="serverName" value="10.50.0.131"/>
    <add key="zipFilePath" value="\\10.50.0.131\Sources\"/>
    <add key="zipFileName" value="ElaraZip"/>
    <add key="permissonTmpFolder" value="C:\tmpElara\Uncompressed\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>